.navbar a{
  color: #fff;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}


.nav-item {
  margin-right: 2rem;
  
}

.nav-item a {
  text-decoration: none;
}

.nav-item a:hover {
  text-decoration: underline;
}

.full-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.center-block {
  flex: 1;
}

.line {
  
  height: 1px;
  background-color: gray;
}

.notFound {
  margin: 1rem auto;
  text-align: center;
}

/* Search in Staffs */
.colum-search {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.img-card {
  width: 100%;
}

.breakCum {
  display: inline-block;
  padding: 5px;
  margin-bottom: 2rem;
 
}
.breadcrumb {
 margin: 0;
}


footer {
  background-color: hsl(208, 7%, 46%);
  padding-top: 1px;
 
}